In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("data/medical_insurance_scaled.csv", sep=",")
df.head()

,age,sex,bmi,children,smoker,charges,northeast,northwest,southeast,southwest
0,-1.440016,-1.010535,-0.453197,-0.909856,1.973265,0.298918,-0.565825,-0.565825,-0.610797,1.763737
1,-1.511283,0.989575,0.509049,-0.080117,-0.506774,-0.953656,-0.565825,-0.565825,1.637205,-0.566978
2,-0.798610,0.989575,0.382826,1.579361,-0.506774,-0.728588,-0.565825,-0.565825,1.637205,-0.566978
3,-0.442273,0.989575,-1.304793,-0.909856,-0.506774,0.720278,-0.565825,1.767330,-0.610797,-0.566978
4,-0.513541,0.989575,-0.292550,-0.909856,-0.506774,-0.776727,-0.565825,1.767330,-0.610797,-0.566978

In [4]:
df.charges.describe()

count    1.336000e+03
mean    -9.041337e-17
std      1.000374e+00
min     -1.003536e+00
25%     -7.042239e-01
50%     -3.210239e-01
75%      2.757309e-01
max      4.172928e+00
Name: charges, dtype: float64

In [ ]:
# On tente de target (charges qui a été s)